.main-container{
	width: 60%;
	height: 550px;
	float: left;
}
.searcher{
	border-style: solid;
	border-width: 1px;
	width: 80%;
	height: 25px;
	margin-bottom: 5px;
}
.ability{
	margin-top: 15px;
	float: left;
	margin-left: 15%;
}
.ability-slot{
	float: left;
	width: 20%;
}
.item-icon{
	width: 40px;
}
.timeslider-div{
	margin-top: 10px;
	width: 50%;
	margin-left: 25%;
	border: 1px solid #aaaaaa; 
    background: #ffffff 50% 50% repeat-x;
    border-radius: 15px;
    height: 15px;
    padding-right: 16px;
}
.level-slider-div{
	border: 1px solid #aaaaaa; 
    background: #ffffff 50% 50% repeat-x;
    border-radius: 15px;
    width: 50%;
    margin-left: 14%;
    padding-right: 8px;
    padding-left: 1px;
}
#level-span{
	margin-left: 18%;
}
#level-slider .ui-slider-handle.ui-state-default.ui-corner-all{
	height: .3em;
	width: .3em;
	top: .02em;
}
.main-image-div{
	padding-top: 35px;
}
.selected-champion-div{
	float: left;		
	width: 20%;
}
.equipped{
	height: 55px;
	width: 55px;
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 5px;
	border-radius: 5px;
}
.item-div{
	height: 415px;
	cursor: pointer;
}
.item-icon-div{
	height: 90%;
	overflow-y:auto;
}
.item-icon-div{
	float: left;
}
.main-item-container{
	width: 20%;
	float: left;
}
.champion-div{
	float: left;
	height: 100%;
	width: 20%;
	height: 415px;
	cursor: pointer;
}
.champion-icon-div{
	overflow-y:auto;
	height: 90%;
}
.hp-div{
	width: 300px;
    height: 10px;
	background-color: red;
	margin: 0 auto;
	margin-bottom: 15px;
}
.hp-num-div{
	margin: 0 auto;
	width: 50%;
}
.hp-num-span{
	margin-left: 25%;
}
.percents-div{
	margin: 0 auto;
	width: 100%;
}
#percents{
	margin-left: 30%;
}
.main-image-hp{
	width: 300px;
	background-color: green;
	height: 10px;
}
.main-image{
	margin: 0 auto;
	height: 221px;
	width: 228px;
}
.auto-attack-div{
	width: 10%;
	margin: 0 auto;
}
#auto-attack{
	width: 100%;
}
.ability-levels{
	float: left;

}
#timeslider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
	height: .4em;
	border: none;
	background: none;
}
#timeslider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle{
	top: .1em;
}
.ui-slider-handle.ui-state-default.ui-corner-all{
	height: .6em;
	width: .6em;
	margin-left: 0;
	border-radius: 9px
}
#level-slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
	height: .4em;
	border: none;
	background: none;
}
.time-div{
	width: 10%;
	margin: 0 auto;
}
.reset-hp-div{
	width: 10%;
	margin: 0 auto;
}
#reset-hp{
	margin-left: 30px;
}
#time-span{
	font-size: 15px;
	margin: 0 auto;
	margin-left: 45px;
}
.champ-icon{
	width: 40px;
}
.level-slider-span{
	width: 50px;
	float: left;
}